@import '../../styles/scss-utils.scss';

.project {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  margin-bottom: 2rem;

  @media (max-width: 1200px) {
    border-bottom: 1px solid #252525;
    padding-bottom: 2rem;
  }

  &-image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
    height: calc(((1240px * 0.7) / 16) * 10);

    @media (max-width: 1310px) {
      height: calc((85vw / 16) * 10 * 0.7);
    }

    @media (max-width: 1200px) {
      order: 2;
    }

    &-large {
      @media (max-width: 600px) {
        display: none;
      }
    }

    @media (max-width: 950px) {
      height: calc((85vw / 16) * 10);
      justify-content: center;
    }

    a {
      width: 70%;
      height: 100%;
      cursor: none;

      @media (max-width: 950px) {
        width: 100%;
      }

      .canvas-container {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-image-mobile {
    display: none;

    @media (max-width: 600px) {
      display: block;
      position: relative;
      height: calc((85vw / 16) * 20 + 10px);

      a {
        width: 100%;
        height: 100%;
      }

      &-container {
        width: 100%;
        height: calc((85vw / 16) * 10);
        position: relative;
        overflow: hidden;

        &:first-child {
          margin-bottom: 10px;
        }

        img {
          width: 100%;
        }

        &-cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $dark-black;
        }
      }
    }
  }

  &-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;

    .project-details-container {
      width: 70%;

      @media (max-width: 1000px) {
        width: 100%;
      }
    }
    .arrow-container {
      width: 30%;
      position: relative;

      @media (max-width: 1000px) {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      margin-top: 1rem;
      width: 100%;
    }

    &-title {
      font-size: clamp(2rem, calc(40px + 100 * (80vw - 220px) / 1600), 6rem);
      font-weight: 600;
      margin-bottom: 1rem;
      color: $light-pink;
    }

    &-description {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 300;
      margin-bottom: 2rem;
      max-width: 800px;
      width: 95%;

      @media (max-width: 600px) {
        font-size: 1.1rem;
        line-height: 1.3;
      }
    }

    .github {
      a {
        display: inline-flex;
        align-items: center;
        fill: $light-pink;

        span {
          margin-right: 0.5rem;
          font-size: 1.8rem;
          font-weight: 300;
          color: $light-pink;
          transition: 0.4s ease-in-out 0.2s;

          @media (max-width: 600px) {
            font-size: 1.3rem;
          }
        }

        svg {
          transform: scale(1.1);
          transition: 0.4s ease-in-out;
        }

        &:hover {
          span {
            color: $text-white;
          }
          svg {
            transform: scale(1.3);
          }
        }
      }
    }

    &-features {
      font-size: 1.8rem;
      color: $light-pink;
      font-weight: 300;
      margin-bottom: 0.75rem;

      @media (max-width: 600px) {
        font-size: 1.3rem;
      }
    }

    &-features-lists {
      display: flex;
      margin-bottom: 3rem;

      @media (max-width: 600px) {
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 1.5rem;
      }

      .list {
        margin-right: 4.5rem;
        &:nth-child(2) {
          margin-right: 0;
        }

        @media (max-width: 530px) {
          margin-right: 20px;
        }

        li {
          font-size: 1.5rem;
          font-weight: 400;
          color: $off-white;

          @media (max-width: 600px) {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
