:root {
  --main-color: #fafafa;
  --secondary-color: #34a1cd;
  --text-color: #55527c;
  --gradient-1: #ed9550;
  --gradient-2: #c36d89;
  --dark-maroon: #4c1030;
}

.work {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 95%;
    width: 1440px;
    margin: 0 auto;

    h1 {
      font-weight: 500;
      font-size: 10em;
      width: 100%;

      span {
        background: -webkit-linear-gradient(#ed9550, #c36d89);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 6rem;
      line-height: 1.5em;
      color: #ffd4e2;
      margin: 18rem 0;

      @media (max-width: 1500px) {
        font-size: 5.5em;
      }

      @media (max-width: 1310px) {
        font-size: 5em;
      }

      @media (max-width: 1200px) {
        font-size: 3.7em;
      }

      @media (max-width: 835px) {
        font-size: 3em;
      }

      @media (max-width: 680px) {
        font-size: 2.5em;
      }

      span {
        background: -webkit-linear-gradient(#ed9550, #c36d89);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .work-heading {
      margin: 15rem auto 15rem;
      text-align: center;
      font-weight: 600;
      @media (max-width: 1200px) {
        margin: 5rem auto 5rem;
        text-align: left;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgb(37, 37, 37);
      }
    }

    .projects {
      width: 1240px;
      max-width: 100%;
      margin: 0 auto;

      .project {
        display: flex;
        padding-bottom: 5rem;
        flex-direction: column;
        @media (max-width: 1200px) {
          border-bottom: 1px solid rgb(37, 37, 37);
          padding-bottom: 2rem;
        }

        &-image {
          overflow: hidden;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          height: calc(100vw / 16 * 10);
          @media (max-width: 1200px) {
            order: 2;
          }

          a {
            width: 60%;

            @media (max-width: 950px) {
              width: 100%;
            }

            img {
              cursor: pointer;
              border-radius: 5px;
              pointer-events: none;
              width: 100%;
              height: 100%;
            }
          }
        }

        &-details {
          width: 100%;
          display: flex;
          justify-content: space-between;
          position: relative;
          margin-bottom: 2rem;

          .project-details-container {
            width: 70%;

            @media (max-width: 1000px) {
              width: 100%;
            }
          }
          .arrow-container {
            width: 30%;

            @media (max-width: 1000px) {
              display: none;
            }
          }

          &.right {
            padding-left: 2rem;
            @media (max-width: 1200px) {
              padding-left: 0;
            }
          }
          @media (max-width: 1200px) {
            margin-top: 3rem;
            width: 100%;
          }

          &-title {
            font-size: 5rem;
            font-weight: 600;
            margin-bottom: 2rem;
            color: #ffd4e2;
          }

          &-description {
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 300;
            margin-bottom: 2rem;
            max-width: 800px;
            width: 95%;
          }

          .github {
            a {
              display: flex;
              align-items: center;
              fill: #ffd4e2;

              span {
                margin-right: 0.5rem;
                font-size: 1.5rem;
                font-weight: 300;
                color: #ffd4e2;
                text-transform: uppercase;
                transition: 0.4s ease-in-out 0.2s;
              }

              svg {
                transform: scale(1.1);
                transition: 0.4s ease-in-out;
              }

              &:hover {
                span {
                  color: white;
                }
                svg {
                  transform: scale(1.3);
                }
              }
            }
          }

          &-features {
            font-size: 2rem;
            color: #ffd4e2;
            font-weight: 300;
            margin-bottom: 0.75rem;
          }

          &-features-lists {
            display: flex;
            margin-bottom: 3rem;

            @media (max-width: 530px) {
              justify-content: space-between;
              flex-direction: column;
            }

            .list {
              margin-right: 4.5rem;
              &:nth-child(2) {
                margin-right: 0;
              }

              @media (max-width: 530px) {
                margin-right: 20px;
              }

              li {
                font-size: 1.5rem;
                font-weight: 400;
                color: rgb(230, 230, 230);
              }
            }
          }
        }
      }
    }
  }
}
