.hero {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 95%;
    width: 1240px;
    margin: 0 auto;

    @media (max-width: 600px) {
      min-height: 60vh;
      margin-top: 5rem;
    }

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .heading {
        font-weight: 600;
        font-size: clamp(2.8rem, calc(40px + 120 * (100vw - 420px) / 1600), 8rem);
        color: #fff;
        width: 100%;

        span {
          display: inline-block;
          background: -webkit-linear-gradient(#ed9550, #c36d89);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .sub-heading {
        font-weight: 500;
        font-size: clamp(1.8rem, calc(20px + 106 * (100vw - 420px) / 1600), 5rem);
        line-height: 1.2;
        color: #fff;
      }
    }
  }
}
