@import '../../styles/scss-utils.scss';

.arrow-container {
  &:hover {
    .arrow-ring {
      background: $arrow-color;
      border: 2px solid $arrow-color;

      .arrow {
        color: $dark-black;
      }
    }
  }

  .arrow-ring {
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 0;
    width: 100%;
    padding-top: 100%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid $off-white;
    transition: 0.3s ease-in-out;

    .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 130px;
      transform: translate(-50%, -50%);
      color: $arrow-color;
      transition: 0.3s ease-in-out;
    }
  }
}
