.arrow-ring {
  margin-top: 50%;

  width: 100%;
  padding-top: 100%;
  height: 0;
  position: relative;
  border-radius: 50%;
  border: 2px solid rgb(231, 231, 231);
}
.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 130px;
  color: #ffd4e2;
}
