.about {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 1240px;
    max-width: 95%;
    margin: 0 auto 10vw;

    .about-heading {
      font-size: clamp(2rem, calc(40px + 100 * (100vw - 220px) / 1600), 7rem);
      text-transform: uppercase;
      line-height: 1;
      color: #ffc5c0;
      margin: 8rem auto 8rem;
      text-align: center;
      font-weight: 600;
      padding-bottom: 1rem;
      border-bottom: 2px solid #ffc5c0;

      @media (max-width: 1200px) {
        margin: 8rem auto 5rem;
        text-align: left;
        padding-bottom: 0.5rem;
      }

      @media (max-width: 700px) {
        margin: 5rem auto 3rem;
      }
    }

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .about-content {
        font-weight: 400;
        font-size: clamp(1.2rem, calc(40px + 50 * (100vw - 1000px) / 1600), 3rem);
        line-height: 1.2;
        color: #fff;
        margin-bottom: 4rem;

        .link {
          color: #ffc5c0;
          font-weight: 500;
        }
      }
    }
  }
}
