.about {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 1240px;
    max-width: 85%;
    margin: 0 auto 8rem;

    @media (max-width: 600px) {
      margin: 0 auto;
    }

    .about-heading {
      font-size: clamp(2rem, calc(40px + 100 * (100vw - 220px) / 1600), 8rem);
      text-transform: uppercase;
      line-height: 1;
      color: #ffd5b7;
      margin: 8rem auto 8rem;
      text-align: center;
      font-weight: 600;
      padding-bottom: 1rem;
      border-bottom: 2px solid #ffd5b7;

      @media (max-width: 1200px) {
        margin: 8rem auto 5rem;
        text-align: left;
        padding-bottom: 0.5rem;
      }

      @media (max-width: 700px) {
        margin: 5rem auto 3rem;
      }

      @media (max-width: 600px) {
        font-size: 10vw;
        margin: 4rem 0 2.5rem;
        width: fit-content;
      }
    }

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .about-content {
        font-weight: 500;
        font-size: clamp(1.8rem, calc(20px + 100 * (40vw - 100px) / 1600), 2.5rem);
        line-height: 1.2;
        color: #fff;
        margin-bottom: 4rem;

        @media (max-width: 600px) {
          margin-bottom: 2rem;
          font-size: 4.8vw;
        }

        .link {
          color: #ffc5c0;
          font-weight: 500;
        }
      }
    }
  }
}
