@import '../../styles/scss-utils.scss';

.about {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1240px;
    max-width: 85%;
    margin: 0 auto 8rem;

    @media (max-width: 600px) {
      margin: 0 auto;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .about-content {
        font-weight: 500;
        font-size: clamp(1.8rem, calc(20px + 100 * (40vw - 100px) / 1600), 2.5rem);
        line-height: 1.2;
        color: $text-white;
        margin-bottom: 4rem;

        @media (max-width: 600px) {
          margin-bottom: 2rem;
          font-size: 4.8vw;
        }

        .link {
          color: $light-pink;
          font-weight: 500;
        }
      }
    }
  }
}
