@import '../../styles/scss-utils.scss';

.title-container {
  position: relative;
  margin: 8rem auto 8rem;
  overflow: hidden;

  @media (max-width: 600px) {
    margin: 4rem auto;
  }

  .title {
    font-size: clamp(2rem, calc(40px + 100 * (100vw - 220px) / 1600), 10rem);
    text-transform: uppercase;
    line-height: 1;
    color: $light-pink;
    text-align: center;
    font-weight: 600;
    padding-bottom: 1rem;
    transform: translateY(100%);

    @media (max-width: 1200px) {
      text-align: left;
      padding-bottom: 0.5rem;
    }

    @media (max-width: 600px) {
      font-size: 10vw;
      width: fit-content;
    }
  }

  .title-line {
    width: 0;
    height: 2px;
    background: $light-pink;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
