.projects {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 85%;
    width: 1920px;
    margin: 0 auto;

    h1 {
      font-weight: 500;
      font-size: 10em;
      width: 100%;

      span {
        background: -webkit-linear-gradient(#ed9550, #c36d89);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .projects {
      width: 1240px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
