.intro {
  position: fixed;
  height: 100vh;
  z-index: 10000;
  pointer-events: none;

  .welcome {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 12000;
    transform: translate(-50%, -100%);
    font-size: clamp(2rem, calc(40px + 100 * (100vw - 220px) / 1600), 7rem);
    font-weight: 600;
    opacity: 0;
  }

  .back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11000;
    width: 100vw;
    height: 100vh;
    background: black;
  }
}
