.contact {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    width: 1920px;
    margin: 0 auto;
    padding: 0 0 15rem;

    @media (max-width: 1000px) {
      max-width: 85%;
    }

    .contact-form-container {
      display: flex;
      justify-content: center;

      .contact-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .hello {
          font-size: clamp(2rem, calc(34px + 106 * (100vw - 420px) / 1600), 8.25rem);
          font-weight: 600;
          margin-right: 25rem;
          text-transform: uppercase;
          line-height: 1;
          margin-bottom: 1.5rem;

          @media (max-width: 1000px) {
            align-self: flex-start;
            margin-bottom: 1rem;
          }
        }

        &-item {
          display: flex;
          align-items: flex-end;
          width: 100%;
          margin-bottom: 1.5rem;

          @media (max-width: 1000px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;
          }

          &-label {
            font-weight: 600;
            font-size: clamp(2rem, calc(34px + 106 * (100vw - 420px) / 1600), 8.25rem);
            line-height: 100%;
            margin-right: 1rem;
            text-transform: uppercase;
            width: fit-content;
            letter-spacing: -0.03em;
            flex-grow: 1;
            flex-shrink: 0;
            letter-spacing: 0.5px;
          }

          &-input {
            width: 100%;
            padding: 1rem 0 1rem 2.4rem;
            margin-bottom: 0.7rem;
            background: 0;
            border: 0;
            outline: 0;
            border-radius: 0;
            font-size: clamp(1.2rem, calc(16px + 10 * (100vw - 420px) / 1600), 2rem);
            font-weight: 500;
            text-align: center;
            border-bottom: 2px solid #a0a0a0;
            transition: 0.2s ease-in-out;
            color: #a0a0a0;

            &:focus {
              border-bottom: 2px solid #ffcddd;
              color: white;
            }

            @media (max-width: 1000px) {
              padding: 0.5rem 0 0.5rem 0.2rem;
            }
          }
        }

        .button-container {
          margin-top: 4rem;

          @media (max-width: 600px) {
            margin-top: 2rem;
          }
        }

        &-submit {
          background: #ffcddd;
          border: 0;
          border-radius: 50%;
          outline: 0;
          width: 10rem;
          height: 10rem;
          font-size: 2.5rem;
          font-weight: 600;
          transition: 0.2s ease-in-out;

          @media (max-width: 600px) {
            width: 7rem;
            height: 7rem;
            font-size: 1.5rem;
          }

          &:hover {
            filter: brightness(1.05);
            transform: scale(1.05);
          }

          &:active {
            background: white;
          }
        }
      }
    }
  }
}
