@import '../../styles/scss-utils.scss';

.contact {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    width: 1920px;
    margin: 0 auto;
    padding: 0 0 15rem;

    @media (max-width: 1000px) {
      max-width: 85%;
    }

    .contact-form-container {
      display: flex;
      justify-content: center;

      .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .hello {
          margin-right: 25rem;
          margin-bottom: 1.5rem;
          font-size: clamp(2rem, calc(34px + 106 * (100vw - 420px) / 1600), 8.25rem);
          font-weight: 600;
          text-transform: uppercase;
          line-height: 1;

          @media (max-width: 1000px) {
            align-self: flex-start;
            margin-bottom: 1rem;
          }
        }

        &-item {
          display: flex;
          align-items: flex-end;
          width: 100%;
          margin-bottom: 1.5rem;

          @media (max-width: 1000px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 2rem;
          }

          &-label {
            flex-grow: 1;
            flex-shrink: 0;
            width: fit-content;
            margin-right: 1rem;
            font-size: clamp(2rem, calc(34px + 106 * (100vw - 420px) / 1600), 8.25rem);
            font-weight: 600;
            line-height: 100%;
            text-transform: uppercase;
            letter-spacing: -0.03em;
            letter-spacing: 0.5px;
          }

          &-input {
            width: 100%;
            padding: 1rem 1.5rem;
            margin-bottom: 0.7rem;
            color: $placeholder;
            font-size: clamp(1.2rem, calc(16px + 10 * (100vw - 420px) / 1600), 2rem);
            font-weight: 500;
            text-align: center;
            border-bottom: 2px solid $placeholder;
            background: 0;
            border-radius: 0;
            border: 0;
            outline: 0;
            transition: 0.2s ease-in-out;

            &:focus {
              color: $text-white;
              border-bottom: 2px solid $light-pink;
            }

            @media (max-width: 1000px) {
              padding: 0.5rem 0.2rem;
            }
          }
        }

        .button-container {
          margin-top: 4rem;

          @media (max-width: 600px) {
            margin-top: 2rem;
          }
        }

        &-submit {
          width: 10rem;
          height: 10rem;
          font-size: 2.5rem;
          font-weight: 600;
          background: $light-pink;
          outline: 0;
          border: 0;
          border-radius: 50%;
          transition: 0.2s ease-in-out;

          @media (max-width: 600px) {
            width: 7rem;
            height: 7rem;
            font-size: 1.5rem;
          }

          &:hover {
            filter: brightness(1.05);
            transform: scale(1.05);
          }

          &:active {
            background: $text-white;
          }
        }

        .form-message-container {
          position: relative;
          width: 100%;
          margin-top: 1.5rem;

          .form-message {
            position: absolute;
            left: 50%;
            font-size: 1.2rem;
            text-align: center;
            opacity: 0;
            transform: translateX(-50%);
            transition: 0.5s ease-in-out;

            &.visible {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
