.header {
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 99;

  @media (max-width: 600px) {
    top: 0px;
    left: 0px;
  }

  .navbar {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background: hsla(0, 0%, 7%, 0.9);
      }
    }

    @media (max-width: 600px) {
      padding: 0.3rem;
    }

    &-list {
      display: flex;
      flex-direction: column;

      &-item {
        font-size: 1.4rem;
        margin-bottom: 4px;
        transition: 0.2s ease-in-out, opacity 0.8s ease-in-out;
        color: #ffd4e2;
        opacity: 0;

        @media (hover: hover) {
          &:hover {
            color: #fff;
          }
        }

        @media (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }
  }
}
